body {
    background-image: url("44.jpg");
  }

  
img {width: 20%}
img{height: 100%;}
img2{height: 100%;}


.column {
    float: left;
    width: 14.28%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }


/*  Hero section */
.searchbar{
    background-color: black;
    background: linear-gradient(to right, #161616, #000000);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;

}
.searchbar_nume{
    background-color: black;
    background: linear-gradient(to right, #161616, #000000);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 70%;
    text-align: center;
    padding: 30px;



}

table.table {
    font-size: 18px;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
    color: #e7e7e7;
} 
.table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
}

td.denloc span.hunedoara{
    color: #FFF;
    background-color: forestgreen;
}

#toggle:checked  ~ table thead{
    display: none;
}

#toggle:checked  ~ table tbody{
    display: flex;
    flex-wrap: wrap;
    padding:  4px;
}

#toggle:checked  ~ table tbody tr,
#toggle:checked  ~ table tbody td{
   display: block;
   border: 0;

}

#toggle:checked  ~ table tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 
 }

#toggle:checked  ~ table tbody td{
    padding: 4px;
    font-weight: bold;
    
 }

 
.table2 thead {
    display: flex;
    flex-wrap: wrap;
    color: #e7e7e7;
    padding: 4px;
 }

.table2 thead th{
    display: block;
    border: 0;
}

.table2 tbody {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    color: #e7e7e7;
 }

.table2 tbody tr,
.table2 tbody td{
    display: block;
    border: 0;
 }

.table2 tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 }

.table2 tbody td{
    padding: 4px;
    font-weight: bold;
 }
 

.table3 thead {
    display: flex;
    flex-wrap: wrap;
    color: #e7e7e7;
    padding: 4px;
 }

.table3 thead th{
    display: block;
    border: 0;
}

.table3 tbody {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    color: #e7e7e7;
 }

.table3 tbody tr,
.table3 tbody td{
    display: block;
    border: 0;
 }

.table3 tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 }

.table3 tbody td{
    padding: 4px;
    font-weight: bold;
 }

.table4 thead {
    display: flex;
    flex-wrap: wrap;
    color: #e7e7e7;
    padding: 4px;
 }

.table4 thead th{
    display: block;
    border: 0;
}

.table4 tbody {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    color: #e7e7e7;
 }

.table4 tbody tr,
.table4 tbody td{
    display: block;
    border: 0;
 }

.table4 tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 }

.table4 tbody td{
    padding: 4px;
    font-weight: bold;
 }

.table5 thead {
    display: flex;
    flex-wrap: wrap;
    color: #e7e7e7;
    padding: 4px;
 }

.table5 thead th{
    display: block;
    border: 0;
}

.table5 tbody {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    color: #e7e7e7;
 }

.table5 tbody tr,
.table5 tbody td{
    display: block;
    border: 0;
 }

.table5 tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 }

.table5 tbody td{
    padding: 4px;
    font-weight: bold;
 }
 
.table6 thead {
    display: flex;
    flex-wrap: wrap;
    color: #e7e7e7;
    padding: 4px;
 }

.table6 thead th{
    display: block;
    border: 0;
}

.table6 tbody {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    color: #e7e7e7;
 }

.table6 tbody tr,
.table6 tbody td{
    display: block;
    border: 0;
 }

.table6 tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 }

.table6 tbody td{
    padding: 4px;
    font-weight: bold;
 }
 
 .table7 thead {
    display: flex;
    flex-wrap: wrap;
    color: #e7e7e7;
    padding: 4px;
 }

.table7 thead th{
    display: block;
    border: 0;
}

.table7 tbody {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    color: #e7e7e7;
 }

.table7 tbody tr,
.table7 tbody td{
    display: block;
    border: 0;
 }

.table7 tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 }

.table7 tbody td{
    padding: 4px;
    font-weight: bold;
 }

.table8 thead {
    display: flex;
    flex-wrap: wrap;
    color: #e7e7e7;
    padding: 4px;
 }

.table8 thead th{
    display: block;
    border: 0;
}

.table8 tbody {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    color: #e7e7e7;
 }

.table8 tbody tr,
.table8 tbody td{
    display: block;
    border: 0;
 }

.table8 tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 }

.table8 tbody td{
    padding: 4px;
    font-weight: bold;
 }
 




.highlight{
    border-bottom: 4px solid rgb(132,0,255);
}

@media screen and (max-width: 768px) {
    .hero__heading{
        font-size: 60px;
    }
    
}

/*table.tableizer-table {
    font-size: 12px;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
        } 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
        }
.tableizer-table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
        }


.container {
    position: relative;
    text-align: center;
    color: white;
          }
.centered {
    position: absolute;
    font-size: 14px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
          }
*/
