body {
    background-image: url("44.jpg");
  }

  
img {width: 20%}
img{height: 100%;}

  



/*  Hero section */
.searchbar{
    background-color: black;
    background: linear-gradient(to right, #161616, #000000);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;

}
.searchbar_nume{
    background-color: black;
    background: linear-gradient(to right, #161616, #000000);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 70%;
    text-align: center;
    padding: 30px;



}

table.table {
    font-size: 18px;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
} 
.table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
}

td.denloc span.hunedoara{
    color: #FFF;
    background-color: forestgreen;
}

#toggle:checked  ~ table thead{
    display: none;
}

#toggle:checked  ~ table tbody{
    display: flex;
    flex-wrap: wrap;
    padding:  4px;
}

#toggle:checked  ~ table tbody tr,
#toggle:checked  ~ table tbody td{
   display: block;
   border: 0;

}

#toggle:checked  ~ table tbody tr{
   width: calc(50% - 8px) ;
   position: relative;
   border: 1px solid #e7e7e7;
   padding: 8px;
   margin: 4px;
 
 }

#toggle:checked  ~ table tbody td{
    padding: 4px;
    font-weight: bold;
    
 }

 
 








.highlight{
    border-bottom: 4px solid rgb(132,0,255);
}

@media screen and (max-width: 768px) {
    .hero__heading{
        font-size: 60px;
    }
    
}

table.tableizer-table {
    font-size: 12px;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
        } 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
        }
.tableizer-table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
        }

.container {
    position: relative;
    text-align: center;
    color: white;
          }
.centered {
    position: absolute;
    font-size: 14px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
          }

